.light-theme .header{
  background-color: #0c6470;
}
.dark-theme .header{
  background-color: #161a33;
}

.light-theme .sidebar{
  background-color: #4a4a4a;
}

.light-theme .page-container{
  background-color:#e0dddd;
  color: black;
}

.dark-theme{
  background-color: #161a33;
}

.dark-bg {
  background-color: #161a33;
}

.light-theme .box-color {
  background-color: #ffffff;
}

.dark-theme .box-color {
  background-color: #262d47;
}

.border-bottom {
  border-bottom: 1px solid #ffffffb3;
}

.border-right {
  border-right: 1px solid #ffffffb3;
}

.toggle-open {
  position: fixed;
  display: block;
  background-color: #262d47;
  height: 100%;
}

.info-table {
  font-size: 0.9em;
  text-align: left;
  font-family: monospace;
}

.salesTable {
  height: 260px;
  overflow-y: auto;
}

.progressBar {
  display: block;
  padding: 4px;
  border: 0 none;
}

.progressBar::-webkit-progress-bar {
  background-color: red;
}

.progressBar::-webkit-progress-value {
  background-color: green;
}

.progress-bar-box>* {
  float: left;
}

.two-col-list {
  font-size: 0.9em;
}

.two-col-list ul {
  height: 260px;
  overflow-y: scroll;
}


/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 3px;
  /* Round the corners of the thumb */
}

/* Style the scrollbar track when hovering over it */
::-webkit-scrollbar-track:hover {
  background-color: #ddd;
  /* Change the track color on hover */
}

/* Style the scrollbar thumb when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Change the thumb color on hover */
}